* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: darkgray;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

h1 {
  margin-right: 10px;
  font-size: 3rem;
  margin-left: 3rem;
}

main {
  width: 45%;
  margin: auto;
  background-color: gray;
  height: 100vh;
}

.container {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box1,
.box2,
.box3 {
  padding: 20px 15px;
  background-color: rgb(219, 215, 215);
  margin: 10px;
  border-radius: 10px;
  width: 280px;
}

h2 {
  margin-bottom: 2rem;
}

p {
  margin-top: 2rem;
}

.fa-thumbs-up {
  font-size: 4rem;
  margin-left: 80px;
}

span .fa-thumbs-up {
  font-size: 2rem;
  margin-left: 0px;
}

@media (max-width: 1120px) {
  main {
    background-color: darkgray;
  }
} ;
